:root {
    --primary-blue: #2A507F;
    --dark-blue: #022B4B;
}

body {
    margin: 0;
    background-color: var(--dark-blue);
    font-family: Arial, Helvetica, sans-serif;
}

.booth {
    position: relative;
    width: 1276px;
    height: 550px;
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
}

.video-display {
    position: absolute;
    left: 25px;
    top: 144px;
}

.video-display h2 {
    text-align: center;
}